@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* variables de css: para declarar paleta de colores del sitio */
:root {
    --oscuro: #021024;
    --azul: #052659;
    --celesteOscuro: #5483B3;
    --celesteMedio: #7DA0CA;
    --celesteClaro: #C1E8FF;
}

/*baja de google fonts la tipografia */
@font-face {
    font-family:"Tektur";
    src: url(../fonts/Tektur-VariableFont_wdth\,wght.ttf);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:"Quicksand";
    src: url(../fonts/Tektur-VariableFont_wdth\,wght.ttf);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Para bajar el footer */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
/* ---------------------- */

/* Definicion Tipografía */
.fontFamilyMarca{
    font-family: "Tektur", sans-serif;
}
.fontFamilyTextos {
    font-family: "Quicksand", sans-serif;
}
/* -------------------------- */
.BGnavbar{
    background: var(--oscuro);
}


@media all and (min-width: 993px){
.marcadepagina{
    font-size: 35px;
}
.titulosNav{
    font-size: 20px;
}
.listadenav:hover{
    color: rgb(0, 0, 253);
    font-size: 20px;
    font-weight: 600;
    }
    .listadenav{
        transition: 500ms;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){

}