@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* variables de css: para declarar paleta de colores del sitio */
:root {
  --oscuro: #021024;
  --azul: #052659;
  --celesteOscuro: #5483b3;
  --celesteMedio: #7da0ca;
  --celesteClaro: #c1e8ff;
}

/*baja de google fonts la tipografia */
@font-face {
  font-family: "Tektur";
  src: url(/fonts/Tektur-VariableFont_wdth\,wght.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(/fonts/Quicksand-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Para bajar el footer */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand";
}

main {
  flex-grow: 1;
}
/* ---------------------- */

/* Definicion Tipografía */
.fontFamilyMarca {
  font-family: "Tektur";
}
.fontFamilyTextos {
  font-family: "Quicksand";
}

.formulario {
  background: var(--azul);
}
.bordesformulario:hover {
  border: solid;
}

/* PAGINA DETALLE DE CATEGORIAS */

.contenedorVideoDetalleCategoria {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.videoDetalleCategoria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlayVideoDetalleCategoria {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-style: bold;
  color: var(--celesteClaro);
}

.overlayVideoDetalleCategoriaKids {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-style: bold;
  color: var(--celesteOscuro);
  /* color: var(--azul) */
}

/* GRILLA DE CATEGORIAS */
.bodyCardDetalleCategoria {
  background-color: var(--celesteOscuro);
}

.imgCardDetalleCategoria {
  object-fit: contain;
  width: auto;
  height: 250px;
}

footer {
  background-color: #021024;
}
.logotipo {
  width: 70px;
  height: 70px;
}

.BGnavbar {
  background: var(--oscuro);
}

.titulosNav {
  font-size: 20px;
}

.listadenav:hover {
  color: rgb(0, 0, 253);
  font-size: 20px;
  font-weight: 600;
  background-color: white;
}
.listadenav {
  transition: 500ms;
  color: black;
}
.modalregistro:hover {
  font-weight: 600;
}

/* Estilos Banner de index */

.containerPrincipal {
  height: 200px;
  position: relative;
  /* overflow: hidden; */
}

.containerFondo {
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--azul);
  z-index: 0;
}

.containerFrente {
  width: 50%;
  background-color: var(--celesteOscuro);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.bannerTitulo {
  color: var(--celesteMedio);
  font-family: "Prompt", sans-serif;
  font-size: 1.8rem;
}

.segundoBannerTitulo {
  font-size: 1rem;
  color: var(--celesteClaro);
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.822);
}

.tercerBannerTitulo {
  text-shadow: 2px 2px 8px rgba(74, 84, 195, 0.7),
    5px 5px 20px rgba(234, 41, 200, 0.7);
}

.bannerTexto {
  font-size: 0.6rem;
  text-align: center;
}

.containerZapatilla {
  margin-left: 15%;
}

.carousel-item video {
  object-position: center bottom; /* Muestra más la parte inferior */
}

.pantallaNegra {
  background-color: hwb(0 0% 100% / 0.216);
}

.zapatillaConEnvio {
  object-position: center bottom;
}

/* Estilos de las Categorías */
.bordeCategorias {
  border: 3px groove var(--oscuro);
}

.imgCategoria {
  filter: grayscale(80%);
  transition: filter 500ms;
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.imgCategoria:hover {
  filter: grayscale(30%);
}

.contenedorCategoria {
  padding: 20px;
  border: 2px solid rgba(43, 43, 43, 0.5);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.contenedorCategoria:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

.textoJustificado {
  text-align: justify;
}

/* Contenedor de Zapatillas */
.shoe-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

/* Estilos de las zapatillas */
.shoe {
  position: absolute;
  width: 70px;
  bottom: 0;
  filter: grayscale(65%);
  animation: walk 2s infinite ease-in-out;
}

.bgNegroRgba {
  background-color: hsla(0, 4%, 9%, 0.5);
}

/* Posiciones de zapatillas */
.shoe-left {
  left: 25%;
  animation-delay: 0s;
}

.shoe-right {
  left: 50%;
  animation-delay: 1s;
}

/* Animación de caminar */

@keyframes walk {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(10deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-10px) rotate(-10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.zapatillasDestacadas {
  transform: rotate(330deg);
  filter: drop-shadow(0.5px 0.5px 8px var(--celesteOscuro));
}

.bordeZapatillasDestacadas {
  border: 2px groove rgba(0, 0, 0, 0.469);
}

.imagenEspejo {
  transform: scaleX(-1) rotate(30deg);
}

.contenedorDerecha {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bgPublicidad {
  background-color: var(--azul);
}

.modalregistro:hover {
  font-weight: 600;
}

/* PAGINA DETALLE PRODUCTO */
.btnAgregarCarrito {
  background-color: var(--celesteOscuro);
  color: white;
}

/* comentarios */

.contenedorCargaComentarios {
  background: #5194d7;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: var(--azul);
}

.contenedorComentarios {
  background: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: var(--azul);
}
.imgComentarios {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.linkComentarios a {
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}
.linkComentarios a:hover {
  text-decoration: underline;
}

/* Estilos de la Página 'Acerca de Nosotros' */

.imgCircular {
  aspect-ratio: 1/1;
}

/* -------------------------------- */
/* celulares */
@media all and (max-width: 767px) {
  .footersepardor {
    border-bottom: white solid 1px;
  }
}
/* tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footersepardor {
    border-right: white solid 1px;
  }
  .shoe-container {
    max-width: 400px;
    height: 90px;
  }
  .shoe {
    width: 100px;
  }
  /* banner principal */
  .containerPrincipal {
    height: 400px;
  }
  .segundoBannerTitulo {
    font-size: 1.5rem;
  }
  .bannerTitulo {
    font-size: 2.5rem;
  }
  .bannerTexto {
    font-size: 1rem;
  }
  .sombra {
    max-width: 60%;
  }
  /* detalleCategoria hombre y niños */
  .contenedorVideoDetalleCategoria {
    height: 350px;
  }
  .imgCardDetalleCategoria {
    height: 200px;
  }
}
/* computadoras */
@media all and (min-width: 993px) {
  .footersepardor {
    border-right: white solid 1px;
  }
  .shoe-container {
    max-width: 500px;
    height: 120px;
  }
  .shoe {
    width: 120px;
  }
  .imgCategoriaHombre {
    height: 400px;
  }
  /* banner principal */

  .containerPrincipal {
    height: 600px;
  }
  .containerGrande {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bannerTitulo {
    font-size: 3.5rem;
  }
  .bannerTexto {
    font-size: 1.5rem;
  }
  .sombra {
    max-width: 50%;
  }
  /* navbar */
  .marcadepagina {
    font-size: 35px;
  }
  /* detalleCategoria hombre y niños */
  .contenedorVideoDetalleCategoria {
    height: 400px;
  }

  .error404-img {
    height: 600px;
  }
}
/* -------------------------------- */
